.App {
  text-align: center;

}
.App-navigation-items{
  list-style: none;
  margin: 0;
  padding: 0 0 20px;
  display: inline;
  margin: 0 20px 0 0 ;
}




.App-header {
  border: 400px solid;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #385170; 
  margin: 20px 0;
  padding: 20px 16px 24px;

  
}

.App-link {
  color: #142d4c;
  font-size: 15px;
  
}
.App-small{
  font-size: 15px;
  
}

.button {
  background-color: #09356b;
  font-weight: bold;
  color:white;
}

