.App {
  text-align: center;

}
.App-navigation-items{
  list-style: none;
  margin: 0;
  padding: 0 0 20px;
  display: inline;
  margin: 0 20px 0 0 ;
}
.App-input{
  width: 60%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}




.App-header {
  border: 250px solid;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #385170; 
  margin: 20px 0;
  padding: 20px 16px 24px;

  
}

.App-link {
  color: #142d4c;
  font-size: 15px;
  
}
.App-small{
  font-size: 15px;
  
}

.button {
background-color: #142d4c;
   border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

