.App {
  text-align: center;

}

.App-navigation-items {
  list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
  
}
.App-navigation-items li {
  display: inline;
  margin-left: 20px;
}
.App-navigation-items a {
  color: #142d4c;
  text-decoration: none;
   transition: color 0.3s ease, text-decoration 0.3s ease;
  
}
.App-navigation-items a:hover {
  color: #385170;
   text-decoration: underline;
  
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
   margin: 20px 15px;
}
.App-input {
  flex-grow: 1;
  padding: 15px 40px;
   margin: 0;
   border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: border-color 0.3s ease, box-shadow 0.3s ease;
 margin-right: 10px;
  
}

.App-input:focus {
  border-color: #142d4c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

.button {
  padding: 15px 20px;
   background-color: #142d4c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
 
}

.button:hover,
.button:focus {
  background-color: #385170;
  /* Cor de fundo ao passar o mouse ou focar */
  transform: translateY(-2px);
  /* Efeito de "levantar" ao passar o mouse ou focar */
}

.button:active {
  transform: translateY(1px);
  /* Efeito de "pressionar" ao clicar */
}


.App-header {
  border: 250px solid;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: #385170;
  margin: -200px 0px;
  padding:0 0 30px 0;


}
.Container-temperature {
  display: flex;
  flex-direction: column;
  /* Organiza os itens em coluna */
  align-items: flex-start;
  /* Alinha itens à esquerda */
  padding: 20px;
  /* Adiciona um pouco de espaço interno */
  color: #142d4c;
  /* Cor padrão para o texto */
}

.Weather-app-city {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  /* Espaço abaixo do nome da cidade */
  color: #142d4c;
  /* Cor do texto */
}

.Weather-app-details {
  font-size: 14px;
  /* Tamanho de fonte menor para detalhes */
  font-weight: 400;
  /* Peso da fonte normal */
  opacity: 0.7;
  /* Torna o texto mais opaco */
  margin: 5px 0;
  /* Espaço entre detalhes */
}

.Temperature-and-icon {
  display: flex;
  /* Garante que os itens sejam dispostos lado a lado */
  align-items: center;
  /* Alinha verticalmente a temperatura e o ícone */
  margin: 10px 0;
  /* Adiciona um espaço acima e abaixo do agrupamento */
}

.Temperature {
  font-size: 48px;
  /* Tamanho da fonte para a temperatura */
  font-weight: bold;
  /* Peso da fonte para a temperatura */
  margin-right: 20px;
  /* Espaço entre a temperatura e o ícone */
}

/* Se o ícone ainda estiver aparecendo abaixo, verifique se não há estilos conflitantes aplicando 'flex-direction: column;' ao '.Temperature-and-icon' ou limitações no tamanho do contêiner que possam estar forçando o ícone a mover-se para baixo. */
.App-link {
  color: #142d4c;
  font-size: 15px;

}

.App-small {
  font-size: 15px;

}

.App-footer{
  color: #142d4c;

}
